<header class="bg-gray-800 text-white">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            <!-- Logo -->
            <a href="/" class="text-2xl font-bold text-white">MyLogo</a>

            <!-- Desktop Menu -->
            @if(!isLoggedIn){<div class="hidden sm:flex space-x-4">
                <a routerLink="/auth/login" class="text-gray-300 hover:text-white">Login</a>
                <a routerLink="/auth/signup" class="text-gray-300 hover:text-white">Signup</a>
                <!--  <a routerLink="/services" class="text-gray-300 hover:text-white">Services</a>
                <a routerLink="/contact" class="text-gray-300 hover:text-white">Contact</a> -->
            </div>}
            @else {
            <div class="hidden sm:flex space-x-4">
                <button (click)="logout()" class="text-gray-300 hover:text-white">Logout</button>
                <!--  <a routerLink="/services" class="text-gray-300 hover:text-white">Services</a>
                    <a routerLink="/contact" class="text-gray-300 hover:text-white">Contact</a> -->
            </div>
            }

            <!-- Mobile Menu Button -->
            <button
                class="sm:hidden inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                (click)="toggleMobileMenu()">
                <svg *ngIf="!isMobileMenuOpen" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                <svg *ngIf="isMobileMenuOpen" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
    </nav>

    <!-- Mobile Menu -->
    <div *ngIf="isMobileMenuOpen" class="sm:hidden bg-gray-700 relative">
        @if(!isLoggedIn){<div class="px-2 pt-2 pb-3 space-y-1">
            <a routerLink="/auth/login" class="block text-gray-300 hover:text-white">Login</a>
            <a routerLink="/auth/signup" class="block text-gray-300 hover:text-white">Signup</a>

        </div>}
        @if(isLoggedIn){<div class="px-2 pt-2 pb-3 space-y-1">
            <button (click)="logout()" class="block text-gray-300 hover:text-white">Logout</button>

        </div>}
    </div>
</header>