<div class="lg:w-full">
    @if(isLoggedIn){
    <div class="flex items-center justify-center bg-black">
        <img src="images/taddy-image.jpeg" class="w-auto lg:h-[700px] " alt="Taddy Image">
    </div>

    }
    @else{

    <div class="flex items-center justify-center h-screen bg-gray-100">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            Please <a class="text-sm text-blue-700 font-medium hover:underline" routerLink="/auth/login">Login</a> for
            better experience

        </div>
    </div>
    }
</div>